{% extends 'base.html' %}
{% block title %}Znajomi{% endblock title %}
{% block content %}
    {% for x in set_of_queries %}
        {% if request.user in x.friends.all %}
        <div class="ui fluid card">
            <div class="content">
                <div class="ui grid">
                    <div class="row">
                        <!--układ wielokolumnowy-->
                        <div class="three wide column">
                            <!--Okrągłe zdjęcie profilowe-->
                            <img class="ui small circular image" src="{{x.avatar.url}}">
                        </div>
                        <!--przycisk zależnie od relacji-->
                        <div class="nine wide column">
                            <!--informacje o użytkowniku-->
                            <h2>{{ x.user }}</h2>
                            <p>{{ x.bio }}</p>
                            <a href={{ x.get_show_profil }}>
                                <button class="ui primary button marginb">Zobacz profil</button>
                            </a>
                        </div>
                        <div class="four wide column">
                        <!--Jeśli użytkownik się przyjaźni z danych użytkowniem to może go usunąć-->
                            {% if request.user in x.friends.all %}
                                <form action="{% url 'profiles:remove-friends' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ x.pk }}">
                                    <button type="submit" class="ui primary button marginb">
                                        <i class="minus square icon"></i>Usuń ze znajomych
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}