{% extends 'base.html' %}
{%  block title %}Zobacz profil użytkownika
{% endblock title %}
{% block scripts %}
    <script>
        $( document ).ready(function() {
            let shw = true
            $(".clicksw").click(function () {
                //jeśli komentarze są pokazane/rozsunięte
                if (shw===true) {
                    //to po kliknięciu komentarz zostają schowane szybko
                    $(this).next(".comment-box").hide("fast");
                    shw=false
                }
                //Jeśli komentarze są schowane
                else {
                    //to po kliknięciu pokaż komentarze/rozsuń szybko
                    $(this).next(".comment-box").show("fast");
                    shw=true
                }
            });
        });
    </script>
{% endblock scripts %}
{%  block content %}
    <div class="ui grid">
        <br>
        <div class="row">
            <!--układ wielokolumnowy-->
            <!--dane i statystyki-->
            <div class="five wide column">
                <img class="ui medium rounded image" src={{ object.avatar.url }}>
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>Użytkownik</td>
                            <td>{{ object.user }}</td>
                        </tr>
                        {% if object.first_name != "" %}
                            <tr>
                                <td>Imie</td>
                                <td>{{ object.first_name }}</td>
                            </tr>
                        {% endif %}
                        {% if object.last_name != "" %}
                            <tr>
                                <td>Nazwisko</td>
                                <td>{{ object.last_name }}</td>
                            </tr>
                        {% endif %}
                        {% if object.country != "" %}
                            <tr>
                                <td>Miejsce zamieszkania</td>
                                <td>{{ object.country }}</td>
                            </tr>
                        {% endif %}
                        {% if object.email != "" %}
                            <tr>
                                <td>Email</td>
                                <td>{{ object.email }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Biografia</td>
                            <td>{{ object.bio }}</td>
                        </tr>
                        <tr>
                            <td>Data dołączenia</td>
                            <td>{{ object.created }}</td>
                        </tr>
                    </tbody>
                </table>
                <!--Jeśli użytkownik nie przyjaźni się z tym użytkownikem, oraz nie wysłał zaproszenia to można dodać go do znajomych-->
                    {% if object.user not in receiver_relation_list and object.user not in sender_relation_list %}
                        <form action="{% url 'profiles:invite-send' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                            <button type="submit" class="ui primary button marginb">
                                <i class="plus square icon"></i>Dodaj do znajomych
                            </button>
                        </form>
                    {% endif %}
                    <!--Jeśli wysłano już zaproszenie do znajomych-->
                    {% if object.user in receiver_relation_list and request.user not in object.friends.all %}
                        <button class="ui disable button">
                            <i class="user icon"></i>Wysłano zaproszenie
                        </button>
                    {% endif %}
                    <!--Jeśli użytkownik się przyjaźni z danych użytkowniem to może go usunąć-->
                    {% if request.user in object.friends.all %}
                        <form action="{% url 'profiles:remove-friends' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                            <button type="submit" class="ui primary button marginb">
                                <i class="minus square icon"></i>Usuń ze znajomych
                            </button>
                        </form>
                    {% endif %}


                <div class="ui vertical fluid menu">
                    <div class="item">
                        Liczba znajomych
                        <div class="ui label">{{ object.get_count_friends }}</div>
                    </div>
                    <div class="item">
                        Posty
                        <div class="ui label">{{ object.get_count_posts }}</div>
                    </div>
                    <div class="item">
                        Polubienia
                        <div class="ui label">{{ object.get_count_likes }}</div>
                    </div>
                    <div class="item">
                        Otrzymane polubienia
                        <div class="ui label">{{ object.get_count_received_likes }}</div>
                    </div>
                </div>
            </div>
            <!--posty-->
            <div class="eleven wide column">
            {% if request.user in object.friends.all %}
                {% if post_user_len %}
                    {% for post in posts %}
                        <div class="ui fluid card">
				            <div class="content">
                                <!--reprezentacja stringu, nazwa użytkownika i czas kiedy został dodany post-->
                                <img class="ui avatar image" src={{post.author.avatar.url}}>
                                {{ post.author.user }} &nbsp {{ post.created|timesince}} temu
                            </div>
                            <div class="ui fluid image">
                                {% if post.image %}
                                    <img src={{post.image.url}}>
                                {% endif %}
                            </div>
                            <div class="content">
                                <p> {{ post.content }} </p>
                                <div class="right floated">
                                    <form action="{% url 'posts:like-post' %}" method="POST" class="like-form" id="{{ post.id }}">
                                    <!--ochrona prze fałszowaniem żądań pomiędzy witrynami-->
                                        {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{post.id}}>
                                        <!--liczba polubień-->
                                        <div class="ui grid">
                                            <div class="column">
                                                <div class="like-count{{ post.id }}">
                                                    {{post.likes_number}}
                                                </div>
                                            </div>
                                            <div class="column">
                                                Polubień
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="marginb"></div>
                                <i class="comment icon"></i>
                                <!--liczba komentarzy-->
                                <span> {{ post.comments_count }} komentarzy</span>
                                <br><br>
                                <!--pokazywanie i ukrywanie komentarzy, wykonywanie jest za pomocą skryptu java script-->
                                <button class="clicksw ui button marginb">pokaż/schowaj komentarze</button>
                                <div class="comment-box">
                                    <!--Jeśli komentarz istnieje-->
                                    {% if post.comment_set.all %}
                                        <!--to przeglądamy je w pętli, wyświetlane są na ekranie od najmłodszego na górze do najstarszego na dole-->
                                        {% for i in post.comment_set.all %}
                                            <div class="ui segment marginb">
                                                <img class="ui avatar image" src={{i.user.avatar.url}}>
                                                <!--user i czas kiedy został komentarz utworzony-->
                                                <span>{{ i.user.user }}&nbsp{{ i.created|timesince}}&nbsptemu</span>
                                                    <div class='margint'>
                                                        {{ i.body }}
                                                    </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3>{{ object.user }}&nbspnie ma żadnych opublikowanych postów</h3>

                {% endif %}
            {% else %}
                <h2>Nie jesteś znajomym tego użytkownika, podgląd postów tego użytkonika jest zabronione</h2>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}