{% extends 'base.html' %}
{% block title %}Nieznajomi{% endblock title %}
{% block content %}
    {% if que %}
        <h1>wyświetlenia dla {{ que }}</h1>
        <br>
        <!--wyświetlanie wyszukanych znajomych oprócz swojego profilu-->
        {% for x in search %}
            {% if x.user == request.user %}
            {% else %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui grid">
                        <div class="row">
                            <!--układ wielokolumnowy-->
                            <div class="three wide column">
                                <!--Okrągłe zdjęcie profilowe-->
                                <img class="ui small circular image" src="{{x.avatar.url}}">
                            </div>
                            <!--przycisk zależnie od relacji-->
                            <div class="nine wide column">
                                <!--informacje o użytkowniku-->
                                <h2>{{ x.user }}</h2>
                                <p>{{ x.bio }}</p>
                                <a href={{ x.get_show_profil }}>
                                    <button class="ui primary button marginb">Zobacz profil</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>nie znaleziono znajomego</h2>
    {% endif %}
{% endblock content %}